
.header-background {
    background-image: linear-gradient(rgba(150, 150, 150, 0.1), rgba(255, 255, 255, 0.3)),
                    url("./assets/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-content-icon {
    color: white;
    height: 40px;
    width: 40px;
}

.header-content-title {
    color: white;
}

.header-h1-button-container {
    padding: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.header-content-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.header-content-title span {
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 900;
    color: #000000;
}

.header-content-button {
    cursor: pointer;
    height: 40px;
    width: 200px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 900;
    border-radius: 20px;
    transition: all .3s ease;
}

.header-content-button:hover {
    border: none;
    background-color: white;
    color: #000;
    transition: all .3s ease;
}


.header-content {
    display: flex;
    height: -webkit-fill-available;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #000000;
}

.header-content-link {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: white;
    font-weight: 100;
}

.header-content-link:hover {
    color: #000;
    transition: all .5s ease;
    border-bottom: 1px solid #000;
}

